{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}


<h1 class="text-center my-4">Filmothèque</h1>

    <div class= "row">
        <div class="col-5 mx-auto">

            <table class="table">
             <thead>
                 <tr>
                    <th>#</th>
                    <th >Titre</th>
                    <th >Réalisateur</th>
                    <th >Durée</th>
                    <th>Année de sortie</th>
                </tr>
            </thead>
             <tbody>
                    {% for film in films %}
                     <tr  >
                        <td>{{ film.id }}</td>
                        <td>{{ film.titre }}</td>
                        <td>{{ film.realisateur }}</td>
                        <td>{{ film.duree }}</td>
                        <td>{{ film.anneeSortie }}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 

 

{% endblock %}


